@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap");

@import "button.css";
@import "card.css";
@import "footer.css";
@import "navMenuDesktop.css";
@import "navMenuMobile.css";
@import "typo.css";
@import "megaMenu.css";
@import "bigSlider.css";
@import "megaMenuMobile.css";
@import "responsive.css";
@import "onboard.css";
@import "productDetails.css";
@import "cartList.css";

.product-link{
    text-decoration: none;
}
html{
    min-height: 0 !important;
}
body{
    min-height: 0 !important;
}
.imageCursor{
    cursor: pointer;
}
.singleProductBigImage{
    width: 30% !important;
}
.row.quantity .col-4 {
    width: 12%;
}

#searchResult{
    position: absolute;
    width: 33% !important;
}
.searchImage{
    width: 20%;
}
.cartElement {
    float: left !important;
}
.cartElement.cartqtyfield {
    width: 14%;
}
img.cartpageimage {
    width: 16%;
}
.userprofiless {
    width: 50% !important;
    border-radius: 50%;
}

.starReview{
    color: orange;
}